---
---

$header-heading-color: #fff;
$header-bg-color: #0E2233;
$header-bg-color-secondary: #185F6D;

$section-headings-color: #757575;
$body-text-color: #757575;
$body-link-color: #C64906;
$blockquote-text-color: #0E2233;

$code-bg-color: #E6E6E6;
$code-text-color: #0E2233;

$border-color: #757575;
$table-border-color: #757575;
$hr-border-color: #757575;


@import "{{ site.theme }}";


@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
html {
  font-family: 'Source Sans Pro', sans-serif;
}

[lang='ara'] {
  font-family: Amiri, 'Source Sans Pro', sans-serif;
  font-variant-ligatures: normal;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}


a:hover {
    color: #F27431;
    text-decoration: underline; 
}

.btn {
  color: white;
  background-color: #C64906;
  border-color: #C64906;
  border-radius: 10px;
}

.btn:hover {
    color: white;
    background-color: #F27431;
    border-color: #F27431;
}

.page-header {
  color: #fff;
  background-color: #0E2233;
  background-image: linear-gradient(120deg, #0E2233, #185F6D); 
}

summary:focus {
  outline: none;

}



